.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 220px;
}
.carousel-caption h5{
    font-size: 60px;
    font-weight: 700;
}
.carousel-caption p{
    font-size: 20px;
    padding-bottom: 20px;
}
.text-title h5{
    text-align: center;
    text-decoration: none;
    font-size: 50px;
}
.text-title p{
    font-size:20px ;
    text-align: center;
}
/* -------coures part start------*/
.couress{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-column-gap:20px;
    grid-row-gap:20px;

}
.course{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.coures-info h3{
    font-weight: 700;
}
.btn{
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
}